*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


.reg {
font-family: Arial, sans-serif;
background-image:linear-gradient(rgba(244,124,176),rgba(0,0,0,0.9)),url('https://www.parliament.vic.gov.au/49c82f/contentassets/3ba879e450be4dfba6073d486e1f2d86/nationalweekofdeafpeople_parlpresents.jpg');
background-attachment: fixed;
display: flex;
justify-content: center;
height: inherit;
}

.container {
background-color: rgba(255,255,255,0.6);
padding: 20px;
border-radius: 8px;
box-shadow: 0  10px 15px rgba(0, 0, 0, 0.1);
height: auto;
margin: 30px;
width: 500px;
display: flex;
flex-direction: column;
justify-content: center;
}

/* toggle button */

.tgl{
      text-align: center;
      }

.toggle-btn {
cursor: pointer;
font-size: 20px;
margin-bottom: 20px;
color: #007bff;
}

.candidate-form,
.interviewer-form {
display: none;
}

.active-form {
display: block;
}

.switch {
position: relative;
display: inline-block;
width: 140px;
height: 34px;
}

.switch input {
display: none;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #06c569;
-webkit-transition: .4s;
transition: .4s;
border-radius: 34px;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: rgb(255, 255, 255);
-webkit-transition: .4s;
transition: .4s;
border-radius: 50%;
}

input:checked + .slider {
background-color: #0E6EB8;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(105px);
}

.slider:after {
content: 'candidate';
color: white;
display: block;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
font-size: 10px;
font-weight: 800;
font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
content: 'interviewer';
}

  /* form */
form{
      h2{
          text-align: center;
          margin: 20px;
            }
      }
.inputfields{
display: block;
width: 100%;
padding: 10px 15px;
margin: 5px;
border: none;
border-radius: 5px;
margin-top: 10px;
}
.inputfields:focus{
      outline: none;
      font-size: larger;
}
form label{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.error-message{
      color: red;
      font-family: cursive;
}

.submit{
      padding: 10px 20px;
      font-weight: bolder;
      border-radius: 5px;
      border: none;
      box-shadow: 5px 10px 15px rgba(20, 20, 20, 0.6);
      background-color: rgb(81, 2, 76);
      color: #fff;
      display: block;
      margin: auto;
}

.submit:hover{
      background-color: #fff;
      color: rgb(81, 2, 76);
}
